<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    <p>name {{.Name}}</p>
    <p>age {{.Age}}</p>
    <p>address {{.Address}}</p>
    {{if .Name}}
    exist
    {{else}}
    not exist
    {{end}}
</body>
</html>
